/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  color: var(--BleuSombre);
}

h1,
h2,
h3,
a {
  letter-spacing: 2px;
  /* espace de 2 pixels entre chaque lettre */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--BlancGhost);
}

@font-face {
  font-family: "Alta";
  src: url("assets/fonts/Alta/alta-regular.otf") format("otf");
  src: url("assets/fonts/Alta/alta_caption.otf") format("otf");
  src: url("assets/fonts/Alta/alta_light.otf") format("otf");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("assets/fonts/georgia/georgia.ttf") format("ttf");
  src: url("assets/fonts/georgia/georgiab.ttf") format("ttf");
  src: url("assets/fonts/georgia/georgiai.ttf") format("ttf");
  src: url("assets/fonts/georgia/georgiaz.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}




/*--------------------------------------------------
Variables
----------------------------------------------------*/

:root {
  --gap: 32px;
  --BleuSombre: #022f54;
  --BlancGhost: #FBFBFF;
  --Secondaire: #3C3C3C;
}

/*--------------------------------------------------
Container et responsive
---------------------------------------------------*/

.container {
  width: 100%;
  /*vous pouvez enlever le padding si il vous gene*/
  padding: 0px 128px 128px 128px;
}

.container-1400 {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*vous pouvez enlever le padding si il vous gene*/
  padding: 16px;
}

.responsive {
  /*Les images doivent d'adapter a leur parents*/
  width: 100%;
  height: auto;
  object-fit: cover;
  /* jouez sur ces proprietés pour recadrer / agrandir l'image */
  object-position: center;
}

/*--------------------------------------------------
Mise en page flex
---------------------------------------------------*/

.flex {
  display: flex;
  flex-wrap: wrap;
}

.reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.alternate>div:nth-child(2n) {
  flex-direction: row-reverse;
}

.gap {
  gap: var(--gap);
}

.gap5 {
  gap: 5px;
}

/*--------------------------------------------------
Largeurs et colonnes
---------------------------------------------------*/

/*Generation des classes pour la largeur des colonnes selon 
les resolutions d'ecrans d'apres un petit script sass*/

/*Desktop*/

.large-1 {
  width: calc(8.3333333333% - 11 * var(--gap) / 12);
}

.large-2 {
  width: calc(16.6666666667% - 5 * var(--gap) / 6);
}

.large-3 {
  width: calc(25% - 3 * var(--gap) / 4);
}

.large-4 {
  width: calc(33.3333333333% - 2 * var(--gap) / 3);
}

.large-5 {
  width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
}

.large-6 {
  width: calc(50% - 1 * var(--gap) / 2);
}

.large-7 {
  width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
}

.large-8 {
  width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
}

.large-9 {
  width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
}

.large-10 {
  width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
}

.large-11 {
  width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
}

.large-12 {
  width: calc(100% - 0 * var(--gap) / 1);
}

/*Tablets*/

@media all and (max-width: 700px) {
  .medium-1 {
    width: calc(8.3333333333% - 11 * var(--gap) / 12);
  }

  .medium-2 {
    width: calc(16.6666666667% - 5 * var(--gap) / 6);
  }

  .medium-3 {
    width: calc(25% - 3 * var(--gap) / 4);
  }

  .medium-4 {
    width: calc(33.3333333333% - 2 * var(--gap) / 3);
  }

  .medium-5 {
    width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
  }

  .medium-6 {
    width: calc(50% - 1 * var(--gap) / 2);
  }

  .medium-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
  }

  .medium-8 {
    width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
  }

  .medium-9 {
    width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
  }

  .medium-10 {
    width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
  }

  .medium-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
  }

  .medium-12 {
    width: calc(100% - 0 * var(--gap) / 1);
  }
}

/*Smartphones*/

@media all and (max-width: 440px) {
  .small-1 {
    width: calc(8.3333333333% - 11 * var(--gap) / 12);
  }

  .small-2 {
    width: calc(16.6666666667% - 5 * var(--gap) / 6);
  }

  .small-3 {
    width: calc(25% - 3 * var(--gap) / 4);
  }

  .small-4 {
    width: calc(33.3333333333% - 2 * var(--gap) / 3);
  }

  .small-5 {
    width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
  }

  .small-6 {
    width: calc(50% - 1 * var(--gap) / 2);
  }

  .small-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
  }

  .small-8 {
    width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
  }

  .small-9 {
    width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
  }

  .small-10 {
    width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
  }

  .small-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
  }

  .small-12 {
    width: calc(100% - 0 * var(--gap) / 1);
  }
}

/*--------------------------------------------------
Styliser du texte
---------------------------------------------------*/







/*--------------------------------------------------
Margins and paddings
---------------------------------------------------*/

/* Margin */

.marginR4 {
  margin-right: 4px;
}

.marginT10 {
  margin-top: 10px;
}

.marginT20 {
  margin-top: 20px;
}

.marginT30 {
  margin-top: 30px;
}

.marginT40 {
  margin-top: 40px;
}

.marginT50 {
  margin-top: 50px;
}

.marginT60 {
  margin-top: 60px;
}

.marginT70 {
  margin-top: 70px;
}

.marginT80 {
  margin-top: 80px;
}

.marginT90 {
  margin-top: 90px;
}

.marginT100 {
  margin-top: 100px;
}

.marginT150 {
  margin-top: 150px;
}

/* Paddings */

.paddingT10 {
  padding-top: 10px;
}

.paddingT20 {
  padding-top: 20px;
}

.paddingT30 {
  padding-top: 30px;
}

.paddingT40 {
  padding-top: 40px;
}

.paddingT50 {
  padding-top: 50px;
}

.paddingT60 {
  padding-top: 60px;
}

.paddingT70 {
  padding-top: 70px;
}

.paddingT80 {
  padding-top: 80px;
}

.paddingT90 {
  padding-top: 90px;
}

.paddingT100 {
  padding-top: 100px;
}



/*--------------------------------------------------
Boutons
---------------------------------------------------*/


.CTA {
  background-color: var(--BleuSombre);
  padding: 13px 20px;
  font-family: "Alta";
  font-size: 17px;
  color: var(--BlancGhost);
  border: var(--BleuSombre) solid 1px;
  transition: all 0.7s ease;

  a {
    color: var(--BlancGhost);
    text-decoration: none;
  }

  &:hover {
    background-color: var(--BlancGhost);
    color: var(--BleuSombre);
    border: 1px solid var(--BleuSombre);
    transition: all 0.7s ease;

    a {
      color: var(--BleuSombre);
    }
  }
}


.CTA2 {
  background-color: var(--BlancGhost);
  padding: 13px 20px;
  font-family: "Alta";
  font-size: 17px;
  color: var(--BleuSombre);
  border: var(--BleuSombre) solid 1px;
  transition: all 0.7s ease;

  a {
    color: var(--BlancGhost);
  }

  &:hover {
    background-color: var(--BleuSombre);
    padding: 13px 20px;
    font-family: "Alta";
    font-size: 17px;
    color: var(--BlancGhost);
    border: none;
    transition: all 0.7s ease;
    border: var(--BleuSombre) solid 1px;

    a {
      color: var(--BlancGhost);
      text-decoration: none;
    }
  }

}



/*--------------------------------------------------
HEADER
---------------------------------------------------*/


header {
  background-color: var(--BlancGhost);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;

  img {
    margin-right: 10px;
  }

  nav {
    margin-top: auto;
    margin-bottom: auto;

  }

  h2 {
    font-family: "Alta";
    font-size: 30px;
  }

  ul {
    font-family: "Georgia";
    font-size: 17px;
    font-weight: 100;
  }
}


/*--------------------------------------------------
FOOTER
---------------------------------------------------*/

footer {
  margin-top: 180px;
  background: #011C2A;
  background: linear-gradient(180deg, rgba(1, 28, 42, 1) 19%, rgba(3, 96, 144, 1) 100%);
  padding: 100px;


  a {
    color: var(--BlancGhost);
    font-family: "Georgia";
    font-size: 16px;
  }



  p {
    font-family: "Alta";
    font-size: 29px;
    color: var(--BlancGhost);
    letter-spacing: 2px;
  }
}

input::placeholder {
  font-size: 14px;
  opacity: 0.8;
}


.inputFooter {
  background-color: var(--BlancGhost);
}

input {
  padding: 20px 160px 20px 5px;
}



.copy {

  p {
    font-family: "Alta";
    font-size: 15px;
    letter-spacing: 2px;
  }
}




/*--------------------------------------------------
Hero Page 1 & 2
---------------------------------------------------*/

.sectionHero {

  color: var(--BleuSombre);

  h2 {
    font-size: 40px;
    font-family: "Alta";
    font-weight: 100;
    border-bottom: var(--BleuSombre) solid 1px;
    width: 65%;
    display: inline;
    color: var(--BleuSombre);
  }

  p {
    font-size: 21px;
    font-family: "Georgia";
    color: var(--BleuSombre);
  }

}

.texteHero {
  position: absolute;
  top: 24%;
  left: 75%;
  transform: translate(-50%, -50%);
  
  h1{
  font-family: "Georgia";
  font-size: 21px !important;
  font-weight: 100;
  line-height: 150%;
  }

  h2{
    margin-bottom: 5px;
  }
}



/*--------------------------------------------------
Section Content
---------------------------------------------------*/

.sectionContent {
  margin-top: 180px;
}


/* Content Gauche */
.contentGauche {
  padding: 60px;

  h2 {
    font-family: "Alta";
    font-size: 32px;
    font-weight: 100;
    border-bottom: #022F54 solid 1px;
    display: inline;

  }

  p {
    font-family: "Georgia";
    font-size: 21px;
    margin-top: 20px;
  }
}


/* Content Droite */

.exposed {
  transition: 0.5s ease;
}

.exposed:hover {
  filter: brightness(0.5);

}





/*--------------------------------------------------
Coupe Section
---------------------------------------------------*/

.coupeSection {
  text-align: center;

  h2 {
    font-family: "Alta";
    font-size: 40px;
    font-weight: 100;
  }
}




/*--------------------------------------------------
Section Choix
---------------------------------------------------*/


.sectionChoix {}




.card {

  h2 {
    font-family: "Alta";
    font-size: 1.875vw;
    font-weight: 100;
    margin-bottom: 80px;
  }

  p {
    font-family: "Georgia";
    font-size: 1.275vw;
    font-weight: 100;
    margin-bottom: 80px;
  }
}




.produit {

  h2 {
    font-family: "Alta";
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px;

  }

  p {
    font-family: "Georgia";
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 30px;
    color: var(--BleuSombre);
    opacity: 0.58;

  }

  img {
    margin-bottom: 30px;
  }
}


.info {
  margin-top: 70px;

  p {
    font-family: "Georgia";
    font-size: 21px;
    font-weight: 100;
  }
}



/* Page 4 */

.heroContact {

  h2 {
    font-family: "Alta";
    font-size: 32px;
    font-weight: 100;
  }
}



/*--------------------------------------------------
input
---------------------------------------------------*/


.input {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: var(--BlancGhost);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.26);
}


.CTAinput {
  gap: 10px;

  p {
    color: var(--Secondaire);
    font-family: "Georgia";
    font-size: 16px;
  }
}



/* demander a nicolas */
.test {
  height: 20px;
  width: auto;
}





/* Section Contact */

.infoContact {
  h2 {
    font-family: "Alta";
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  p {
    font-family: "Georgia";
    font-size: 18px;
    margin-bottom: 118px;
  }
}


.contact {

  div {
    margin-bottom: 44px;
  }

  p {
    font-family: "Georgia";
    font-size: 16px;

  }
}


.form {
  padding: 150px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.131);

  p {
    font-family: "Georgia";
  }
}



.input-underline {
  border: none;
  border-bottom: 1px solid var(--Secondaire);
  outline: none;
  font-size: 16px;
  padding: 8px 0;
  width: 300px;
  background: transparent;
  transition: border-color 0.3s;
}

.input-underline:focus {
  border-bottom-color: #000000;
}


.inputContact {
  margin-bottom: 50px;

  p {
    color: var(--Secondaire);
    font-family: "Georgia";
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.input-underlineMessage {
  border: none;
  border-bottom: 1px solid var(--Secondaire);
  outline: none;
  font-size: 16px;
  padding: 8px 0;
  width: 38.80vw;
  background: transparent;
  transition: border-color 0.3s;
}

.input-underlineMessage:focus {
  border-bottom-color: #000000;
}


.inputContactMessage {
  margin-bottom: 50px;

  p {
    color: var(--Secondaire);
    font-family: "Georgia";
    font-size: 14px;
    margin-bottom: 15px;
  }
}



.choixContac {

  p {
    font-family: "Georgia";
    font-size: 16px;
  }
}


.sujet {
  margin-bottom: 20px;
}


.check-circle {
  width: 17px;
  height: 17px;
  border: var(--BleuSombre) solid 1px;
  background-color: var(--BlancGhost);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.check-circle svg {
  width: 10px;
  height: 10px;
  fill: var(--BlancGhost);
}

.check-circle.selected {
  background-color: var(--BleuSombre);
}

.carouselImg{
  height: 200px;

}

.map{
  height: 500px;
}


  h2{
    font-family: "Alta";
    font-size: 28px;
  }





table{
  text-align: center;
  border-collapse: collapse;
  margin-top: 32px;
}

tr{
  background-color: white;
  
}

table tr:nth-child(2n-1){
  background-color: #022f5430;
}

td,th{
  padding: 16px 32px;
  text-align: left;
}

td{
  color: var(--BleuSombre);
}

p{
  line-height: 150%;
}